body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4e73df;
    font-family: Arial;
}

.form-box {
    background: white;
    padding: 20px;
    width: 300px;
    display: none;
}

.form-box.active {
    display: block;
}

input, select, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

button {
    background: black;
    color: white;
    border: none;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 12px;
}